
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    text-align: center;
    background-color: #6200ea;
    color: white;
    padding: 20px;
    inset-block: 0; 
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  header p {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  
  main {
    padding: 20px;
  }
  
  .game {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-block: 20px; 
    padding: 15px;
    inset-block: 10px; 
  }
  
  .game h2 {
    color: #6200ea;
    margin-bottom: 10px;
  }
  
  .game-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    display: block;
    margin: 10px auto;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    inset-block: 0; 
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}

nav li {
    display: inline-block; 
    margin: 0 15px; 
}

nav a {
    text-decoration: none; 
    color: #333; 
    font-size: 18px; 
    padding: 5px 10px; 
    transition: background-color 0.3s ease; 
}

nav a:hover {
    background-color: #ddd; 
    color: #007BFF; 
}

  